<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
<h1>{{ site.title }}</h1>
<ul class="nav">
    <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
    {% if site.linkedin %}
    <li><a href="//linkedin.com/in/{{ site.linkedin }}">linkedin.com/in/{{ site.linkedin }}</a></li>
    {% endif %}
    {% if site.github %}
    <li><a href="//github.com/{{ site.github }}">github.com/{{ site.github }}</a></li>
    {% endif %}
</ul>
<hr />
{{ content }}
<footer>
    <hr />
    2020 &copy; <a href="/">baely.github.com</a>. Powered by Github Pages.</footer>
</body>
</html>
